#new_hospital_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h4.modal-title = t('index.modal.header')
      .modal-body
        #modal_error.alert.alert-warning.hidden
          = t('index.modal.error')
        .form-group
          label for="modal_hospital_number"  = t('index.modal.lable')
          input#modal_hospital_number.form-control placeholder=("#{t('index.modal.input_placeholder')}") type="number" 




      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button"  = t('index.modal.bt_close')
        button.btn.btn-primary type="button" id="submit_modal"  = t('index.modal.bt_save')

