- workers.each_with_index do |personnel, index|
  tr id="#{personnel.id}"
    td
      = index + 1
    td 
      = link_to personnel.surname, personnel_path(personnel.id)
    td 
      = personnel.year_of_birth
    td 
      = personnel.position
    - if hired_personnel
      td 
        =link_to 'Fire', '#', id: 'fire_personnel', colloborator_id: collabarator_id(@hospital.id ,personnel.id)
    - else
      td
        =link_to 'Hire', '#', id: 'hire_personnel', personnel_id: personnel.id
