- @hospitals.each_with_index do |hospital, index|
  tr id="#{hospital.id}"
    td
      = index + 1
    td 
      = link_to hospital.number, hospital_path(hospital.id)
    td 
      =link_to 'Delete', '#', id: 'delete_hospital', hostital_id: hospital.id