h3 = t('index.header')
.col-md-4.col-md-offset-4
  table#hospitals_table.table.table-striped
    tr
      th = t('index.hospitals_table_header.index_number')
      th = t('index.hospitals_table_header.number')
      th =t('index.hospitals_table_header.delete_link')  
    = render partial: 'table_content'
  .create_new
    button.btn.btn-primary data-target="#new_hospital_modal" data-toggle="modal"  = t('index.create_new_bt')
= render partial: 'modal_new'
