h3 id="#{@hospital.id}" = t('show.header', current_number: @hospital.number)
.col-md-6.col-md-offset-3
  - if @hospital.personnels.exists?
    h4 = t('show.hired_table_header')
    table#personnel_table.table.table-striped
      tr
        th = t('show.table.index_number')
        th = t('show.table.surname')
        th = t('show.table.year_of_birth')
        th = t('show.table.position')
        th =t('ishow.table.delete_link')  
      = render partial: 'personnel_table_content', locals: { workers: @hospital.personnels, hired_personnel: true }

.col-md-6.col-md-offset-3
  h4 = t('show.available_table_header')
  table#personnel_table.table.table-striped
    tr
      th = t('show.table.index_number')
      th = t('show.table.surname')
      th = t('show.table.year_of_birth')
      th = t('show.table.position')
      th =t('ishow.table.delete_link')  
    = render partial: 'personnel_table_content', locals: { workers: @avaible_personnels, hired_personnel: false }
