#new_personnel_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close aria-hidden="true" data-dismiss="modal" type="button"  ×
        h4.modal-title = t('index.modal.header')
      .modal-body
        #modal_error_year.alert.alert-warning.hidden
          = t('index.modal.error_invalid_year')
        #modal_error_surname.alert.alert-warning.hidden
          = t('index.modal.error_invalid_surname')

        .form-group
          label for="modal_personnel_surname"  = t('index.modal.lable_surname')
          input#modal_personnel_surname.form-control placeholder=("#{t('index.modal.input_placeholder_surname')}") type="text" size="30" 
        .form-group
          label for="modal_personnel_year_of_birth"  = t('index.modal.lable_year_of_birth')
          input#modal_personnel_year_of_birth.form-control placeholder=("#{t('index.modal.input_placeholder_year_of_birth')}") type="number" 

        .form-group
          label for="modal_personnel_position"  = t('index.modal.lable_position')
          select#modal_personnel_position.form-control
            option doctor
            option nurse
            option paramedic

      .modal-footer
        button.btn.btn-default data-dismiss="modal" type="button"  = t('index.modal.bt_close')
        button.btn.btn-primary type="button" id="submit_modal_personnel"  = t('index.modal.bt_save')

