- @personnels.each_with_index do |personnel, index|
  tr id="#{personnel.id}"
    td
      = index + 1
    td 
      = link_to personnel.surname, personnel_path(personnel.id)
    td 
      = personnel.year_of_birth
    td 
      = personnel.position
    td 
      =link_to 'Delete', '#', id: 'delete_personnel', personnel_id: personnel.id