h3 = t('index.header')
.col-md-6.col-md-offset-3
  table#personnel_table.table.table-striped
    tr
      th = t('index.personnels_table_header.index_number')
      th = t('index.personnels_table_header.surname')
      th = t('index.personnels_table_header.year_of_birth')
      th = t('index.personnels_table_header.position')
      th =t('index.personnels_table_header.delete_link')  
    = render partial: 'table_content'
  .create_new
    button.btn.btn-primary data-target="#new_personnel_modal" data-toggle="modal"  = t('index.create_new_bt')
= render partial: 'modal_new'
