h3 = t('show.header', user: @personnel.surname)
.col-md-6.col-md-offset-3
  h4 =t('show.form.header')
  br
  = form_for @personnel do |f|
    .form-group
      = f.label :surname, t('show.form.lable_surname')
      br
      = f.text_field :surname
    .form-group
      = f.label :year_of_birth, t('show.form.year_of_birth')
      br
      = f.text_field :year_of_birth

    .form-group
      = f.label :position, t('show.form.position')
      br
      = f.select :position, Personnel.positions.keys, {}
    .form-group
      = f.submit class: 'btn btn-default'

.col-md-6.col-md-offset-3
  h4 =t('show.employers_table.header')
  - if @personnel.hospitals.exists?
    table#employers_table.table.table-striped
      tr
        th = t('show.employers_table.index_number')
        th = t('show.employers_table.number') 
      = render partial: 'employers_table_content'
  - else 
    p
      = t('show.employers_table.not_hired') 

