.container
  .navbar-header
    button.navbar-toggle data-target=".navbar-collapse" data-toggle="collapse" type="button" 
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand href="#"  Test project
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li class="#{'active' if params[:controller] == 'hospitals' }"
        a href="#{root_path}"  = t('links.hospital')
      li class="#{'active' if params[:controller] == 'personnels'}"
        a href="#{personnels_path}"  = t('links.personnel')
